<form method="post"
      action="{{ path('app_tag_recette_delete', {'id': tag_recette.id}) }}"
      onsubmit="return confirmAction(event, 'Supprimer le tag ?', 'Êtes-vous sûr de vouloir supprimer ce tag ? Cette action est irréversible.');"
      style="display:inline-block">

    <input type="hidden" name="_token"
           value="{{ csrf_token('delete' ~ tag_recette.id) }}">

    <button class="btn btn-sm btn-danger">
        <i class="bi bi-trash"></i> Supprimer
    </button>

</form>