<form method="post" action="{{ path('app_categorie_recette_delete', {'id': categorie_recette.id}) }}" onsubmit="return confirmAction(event, 'Supprimer la catégorie ?', 'Êtes-vous sûr de vouloir supprimer cette catégorie ? Cette action est irréversible.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_recette.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</button>
</form>
