{% extends 'base.html.twig' %}

{% block title %}Modifier catégorie{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="mb-5 text-center">
            <h1 class="fw-bold">
                <i class="bi bi-pencil-square"></i>
                Modifier la catégorie
            </h1>
            <p class="text-muted">Modifiez les informations de cette catégorie.</p>
        </div>

        {{ include('categorie_recette/_form.html.twig', {button_label: 'Mettre à jour'}) }}
    </div>
</div>

{% endblock %}
