{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

<h2>{{ categorie.nom }}</h2>

<a href="{{ path('app_categorie_index') }}" class="btn btn-dark mt-3">
    Retour
</a>

{% endblock %}